email=leo.buchman@leneldev.com
always-auth=true
registry=https://artifactory.leneldev.com/artifactory/api/npm/npm-virtual/
//artifactory.leneldev.com/artifactory/api/npm/npm-virtual/:_auth="bGVvLmJ1Y2htYW5AbGVuZWxkZXYuY29tOkFLQ3A1YVR2TnhmcUFqekFWZ1NmVlI4eUg3WThXZkJod1ZrR0VjUXRLU3FCZHJyTVFFM0J6RWFpdlJwa3BRVmU0ellkV21YQWo="
