ACTION=="add", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="AB0MBIMP", SYMLINK+="teensylink"
ACTION=="add", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="FT9PII76", SYMLINK+="teensylog"
#udevadm info -a -p  $(udevadm info -q path -n /dev/ttyUSB0)
